<div class="main-content page-m">
    <div class="container-fluid">
      <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
        <div formGroupName="customer" class="form-area">
          <h3>Customer</h3>

          <div class="row">
            <label class="col-md-4"> First Name: </label>
            <input FormControlName="firstName" type="text" />
          </div>

          <div class="row">
            <label class="col-md-4"> Last Name: </label>
            <input FormControlName="lastName" type="text" />
          </div>

          <div class="row">
            <label class="col-md-4"> Email Address: </label>
            <input FormControlName="emailAddress" type="text" />
          </div>

        </div>


        <div FormGroupName="shippingAddress" class="form-area">
            <h3> Shipping address </h3>

            <div class="row">
                <label class="col-md-4"> Country: </label>
                <input FormControlName="country" type="text" />
            </div>

            <div class="row">
                <label class="col-md-4"> Street: </label>
                <input FormControlName="street" type="text" />
            </div>

            <div class="row">
                <label class="col-md-4"> City: </label>
                <input FormControlName="city" type="text" />
            </div>

            <div class="row">
                <label class="col-md-4"> State / Province: </label>
                <input FormControlName="state" type="text" />
            </div>

            <div class="row">
                <label class="col-md-4"> Zip code / Postal code: </label>
                <input FormControlName="zipCode" type="text" />
            </div>
        </div>


        <div FormGroupName="billingAddress" class="form-area">
            <h3> Billing address </h3>

            <div class="row">
                <label class="col-md-4"> Country: </label>
                <input FormControlName="country" type="text" />
            </div>

            <div class="row">
                <label class="col-md-4"> Street: </label>
                <input FormControlName="street" type="text" />
            </div>

            <div class="row">
                <label class="col-md-4"> City: </label>
                <input FormControlName="city" type="text" />
            </div>

            <div class="row">
                <label class="col-md-4"> State / Province: </label>
                <input FormControlName="state" type="text" />
            </div>

            <div class="row">
                <label class="col-md-4"> Zip code / Postal code: </label>
                <input FormControlName="zipCode" type="text" />
            </div>
        </div>

        <div FormGroupName="creditCard" class="form-area">
            <h3> Credit card </h3>

            <div class="row">
                <label class="col-md-4"> Card type: </label>
                <select FormControlName="cardType" type="text">
                    <option> Visa </option>
                    <option> Mastercard </option>
                </select>
            </div>

            <div class="row">
                <label class="col-md-4"> Card name: </label>
                <input FormControlName="cardName" type="text" />
            </div>

            <div class="row">
                <label class="col-md-4"> Card number: </label>
                <input FormControlName="cardNumber" type="text" />
            </div>

            <div class="row">
                <label class="col-md-4"> Security code: </label>
                <input FormControlName="securityCode" type="text" />
            </div>

            <div class="row">
                <label class="col-md-4"> Expiration month: </label>
                <select FormControlName="expirationMonth" type="text">
                    <option> TODO </option>
                </select>
            </div>

            <div class="row">
                <label class="col-md-4"> Expiration year: </label>
                <select FormControlName="expirationYear" type="text">
                    <option> TODO </option>
                </select>
            </div>
        </div>

        <div class="form-area">
            <h3> Review your order </h3>

            <p> Total quantity: {{totalQuantity}} </p>

            <p> Shipping FREE </p>

            <p> Total price: {{totalPrice}} </p>
        </div>

        <div class="text-center">
            <button class="btn"> Purchase </button>
        </div>

      </form>
    </div>
</div>
