<div class="main-content page-m">
    <div class="container-fluid">
      <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
        <div formGroupName="customer" class="form-area">
          <h3>Customer</h3>

          <div class="row">
            <label class="col-md-4"> First Name: </label>
            <input formControlName="firstName" type="text" />
          </div>

          <div class="row">
            <label class="col-md-4"> Last Name: </label>
            <input formControlName="lastName" type="text" />
          </div>

          <div class="row">
            <label class="col-md-4"> Email Address: </label>
            <input formControlName="emailAddress" type="text" />
          </div>

        </div>


        <div formGroupName="shippingAddress" class="form-area">
            <h3> Shipping address </h3>

            <div class="row">
                <label class="col-md-4"> Country: </label>
                <input formControlName="country" type="text" />
            </div>

            <div class="row">
                <label class="col-md-4"> Street: </label>
                <input formControlName="street" type="text" />
            </div>

            <div class="row">
                <label class="col-md-4"> City: </label>
                <input formControlName="city" type="text" />
            </div>

            <div class="row">
                <label class="col-md-4"> State / Province: </label>
                <input formControlName="state" type="text" />
            </div>

            <div class="row">
                <label class="col-md-4"> Zip code / Postal code: </label>
                <input formControlName="zipCode" type="text" />
            </div>
        </div>


        <div formGroupName="billingAddress" class="form-area">
            <h3> Billing address </h3>

            <div class="row">
                <label class="col-md-4"> Country: </label>
                <input formControlName="country" type="text" />
            </div>

            <div class="row">
                <label class="col-md-4"> Street: </label>
                <input formControlName="street" type="text" />
            </div>

            <div class="row">
                <label class="col-md-4"> City: </label>
                <input formControlName="city" type="text" />
            </div>

            <div class="row">
                <label class="col-md-4"> State / Province: </label>
                <input formControlName="state" type="text" />
            </div>

            <div class="row">
                <label class="col-md-4"> Zip code / Postal code: </label>
                <input formControlName="zipCode" type="text" />
            </div>
        </div>

        <div formGroupName="creditCard" class="form-area">
            <h3> Credit card </h3>

            <div class="row">
                <label class="col-md-4"> Card type: </label>
                <select formControlName="cardType" type="text">
                    <option> Visa </option>
                    <option> Mastercard </option>
                </select>
            </div>

            <div class="row">
                <label class="col-md-4"> Card name: </label>
                <input formControlName="cardName" type="text" />
            </div>

            <div class="row">
                <label class="col-md-4"> Card number: </label>
                <input formControlName="cardNumber" type="text" />
            </div>

            <div class="row">
                <label class="col-md-4"> Security code: </label>
                <input formControlName="securityCode" type="text" />
            </div>

            <div class="row">
                <label class="col-md-4"> Expiration month: </label>
                <select 
                    formControlName="expirationMonth" 
                    type="text"
                    >
                    <option disabled></option>
                    <option *ngFor="let month of creditCardMonths"> {{month}} </option>
                </select>
            </div>

            <div class="row">
                <label class="col-md-4"> Expiration year: </label>
                <select
                    (change)="handleCreditCardDropdownsPopulation()" 
                    formControlName="expirationYear" 
                    type="text"
                    >
                    <option disabled></option>
                    <option *ngFor="let year of creditCardYears"> {{year}} </option>
                </select>
            </div>
        </div>

        <div class="form-area">
            <h3> Review your order </h3>

            <p> Total quantity: {{totalQuantity}} </p>

            <p> Shipping FREE </p>

            <p> Total price: {{totalPrice}} </p>
        </div>

        <div class="text-center">
            <button class="btn"> Purchase </button>
        </div>

      </form>
    </div>
</div>
