<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <div class="row">
                
                <div *ngFor="let tempProduct of products" class="col-md-3">
                    <div class="product-box">
                        <img src="{{tempProduct.imageUrl}}" alt="Product image">
                        <a [routerLink]="['/products/', tempProduct.id]">
                            <h2> {{tempProduct.name}} </h2> 
                        </a>
                        <div class="price"> {{tempProduct.unitPrice | currency: 'USD'}} </div>
                        <a href="#" class="primary-btn"> Add to cart </a>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="row">
        <ngb-pagination class="col-md-9"
            [(page)]="thePageNumber"
            [pageSize]="thePageSize"
            [collectionSize]="theTotalElements"
            [maxSize]="5"
            [boundaryLinks]="true"
            (pageChange)="this.listProducts()"
        >
        </ngb-pagination>

        <div class="col-md-3" style="text-align: right; padding-top: 20px;">
            <span> Page Size </span>
            <select (change)="updatePageSize($event)">
                <option selected="true"> 5 </option>
                <option> 10 </option>
                <option> 20 </option>
                <option> 50 </option>
            </select>
        </div>
    </div>

</div>