
<h1 class="header"> Products </h1>
<table class="table">

    <thead class="thead-dark">
        <tr>
            <th> Name </th>
            <th> Unit Price </th>
            <th> Units In Stock </th>
        </tr>
    </thead>

    <tbody>

        <tr *ngFor="let product of products">
            <td>
                <img src='{{product.imageUrl}}' 
                alt="product image">
            </td>

            <td> {{product.name}} </td>

            <td> {{product.unitPrice | currency: 'USD'}} </td>

            <td> {{product.unitsInStock}} </td>
        </tr>

    </tbody>

</table>