<aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">
      <a routerLink="/products">
        <img
          src="favicon.ico"
          alt="luv2shop"
          class="img-responsive"
        />
      </a>
    </div>
    <div class="menu-sidebar-content js-scrollbar1">
      <nav class="navbar-sidebar">
        <ul class="list-unstyled navbar-list">

          <li *ngFor="let tempCategory of categories">
            <a [routerLink]="['category/', tempCategory.id]" routerLinkActive="active-link"> {{tempCategory.name}} </a>
          </li>
    
        </ul>
      </nav>
    </div>
  </aside>
